{% extends "bootstrap/base.html" %}
{% from "search/_formhelpers.html" import render_field%}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% block content %}
<body>
  <div class="container">
    <h1>What's the essense of a dish?</h1>
    <p class="lead">What makes goulash goulash? And a caprese salad a caprese salad?</p>
    <form class="form form-horizontal" method=post action="/search">
      <dl>
        {{ render_field(form.recipe) }}
      </dl>
      <p><input type=submit value=Search>
      </form>
  </div>
</body>
{% endblock %}
