{% extends "bootstrap/base.html" %}
{% from "search/_formhelpers.html" import render_field%}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% block content %}
<body>
  <div class="container">
    <h1>Goulash <small>Summarizer of recipes</small></h1>
    <p class="lead">There are hundreds if not thousands of recipes for goulash on the internet. But the question remains, what makes goulash goulash? Here's a tool that compares recipes from across the internet in order to discover the essential character of a dish.</p>
    <form class="form form-horizontal" method=post action="/search">
      <dl>
        {{ render_field(form.recipe) }}
      </dl>
      <p><input type=submit value=Search>
      </form>
      <div "panel panel-info">
        <B>Example searches: </B><BR>
        {% for example in examples %}
          <li><a href="{{ example[1] }}">{{example[0]}}</a></li>
        {% endfor %}
      </div>
    </div>
  </body>
  {% endblock %}
